.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }
  .page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
  }
  
  .page_404  img{ width:100%;}
  
  .four_zero_four_bg{
   
   background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 400px;
      background-position: center;
   }
   
   
   .four_zero_four_bg h1{
   font-size:80px;
   }
   
    .four_zero_four_bg h3{
         font-size:80px;
         }
         
         .link_404{			 
    color: #fff!important;
      padding: 10px 20px;
      background: #39ac31;
      margin: 20px 0;
      display: inline-block;}
    .contant_box_404{ margin-top:-50px;}